<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title>DilemmaBot Chart</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <section class="section row">
        <div class="col s12 center">
            
            <canvas id="myChart" height="500" width="500"></canvas>
        </div>
    </section>
    <p id="ans" style="display:none;opacity: 0;"><%=ans%></p>
    <p id="ques" style="display:none;opacity: 0;"><%=ques%></p>
    <p id="score" style="display:none;opacity: 0;"><%=score%></p>
    <script>
        let quesString = document.getElementById('ques').innerText;
        let ansString = document.getElementById('ans').innerText;
        let scoreString = document.getElementById('score').innerText;
        ansString = ansString.substring(1,ansString.length-1);
        scoreString = scoreString.substring(1,scoreString.length-1);
        const ansArray = ansString.split(',');
        let scoreArray = scoreString.split(',');
        scoreArray = scoreArray.map(score=>typeof score === "string"? parseInt(score):score)
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    label: "Points of each option",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: scoreArray
                }],
                labels: ansArray
            },
            options: {
                title: {
                display: true,
                text: quesString
                }
            }
        }); 
    </script>
</body>
</html>